{% if site.gitment && site.getment.enable %}
<div id="gitment_container"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
    var gitment = new Gitment({
        id: '{% page.date %}', // 可选。默认为 location.href
        owner: 'renard711',
        repo: 'renard711.github.io',
        oauth: {
            client_id: 'f340db49baabe9d764e2',
            client_secret: 'f001de2d9ca19889ba5b4ba5e2a9a5aba4d86e35',
        },
    })
    gitment.render('gitment_container')
</script>
<noscript>Please enable JavaScript to view the comments powered by Gitment.</a></noscript>
{% endif %}
