/**
 * Syntax highlighting styles
 */

code{
    /*padding: 1px 4px;
    margin: 0 2px;
    font-size: 90%;
    border-radius: 3px;
    color: #000;
    background-color: rgba(0, 0, 0, 0.06);
    border: 1px solid #d7d0d2;
    font-family: Monaco,Menlo,"Microsoft YaHei Mono",Consolas,"Courier New",monospace,sans-serif;*/

    margin:1em 0;
    font-size:12px;
    background-color:#eee;
    border:1px solid #ddd;
    padding:5px;
    line-height:1.5em;
    color:#444;
    overflow:auto;
    //-webkit-box-shadow:rgba(0,0,0,0.07) 0 1px 2px inset;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;border-radius:3px;
}

pre {
    margin: 2px 0;
     padding: 8px 12px;
    //  overflow-x: auto;
     word-wrap: break-word;      /* IE 5.5-7 */
     white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
     white-space: pre-wrap;      /* current browsers */
     > code {
         /*margin: 0;
         padding: 0;
        font-size: 13px;
        color:#d1d1c9;
        border: none;
        background-color: #000000*/
         padding:0;
         font-size:12px;
         background-color:#eee;
         border:none;
     }
}


.highlight {

    padding: 3px 5px;
    font-size: 11px;
    line-height: 10px;
    color: #555;
    vertical-align: middle;
    //background-color: #fcfcfc;
    border: solid 1px #ccc;
    border-bottom-color: #bbb;
    box-shadow: inset 0 -1px 0 #bbb;
    border-radius: 3px;

    background: #eee;
    -webkit-print-color-adjust: exact;
    .hll { background-color: #eee; }
    .c { color: #339933 } /* Comment */
    .err { color: #960050; background-color: #eee } /* Error */
    .k { color: #4183c4 } /* Keyword */
    .l { color: #ae81ff } /* Literal */
    .n { color: #f92672 } /* Name */
    .o { color: #75715e } /* Operator */
    .p { color: #1e0010 } /* Punctuation */
    .cm { color: #339933 } /* Comment.Multiline */
    .cp { color: #339933 } /* Comment.Preproc */
    .c1 { color: #339933 } /* Comment.Single */
    .cs { color: #339933 } /* Comment.Special */
    .ge { font-style: italic } /* Generic.Emph */
    .gs { font-weight: bold } /* Generic.Strong */
    .kc { color: #4183c4 } /* Keyword.Constant */
    .kd { color: #4183c4 } /* Keyword.Declaration */
    .kn { color: #1e0010 } /* Keyword.Namespace */
    .kp { color: #4183c4 } /* Keyword.Pseudo */
    .kr { color: #4183c4 } /* Keyword.Reserved */
    .kt { color: #4183c4 } /* Keyword.Type */
    .ld { color: #75715e } /* Literal.Date */
    .m { color: #ae81ff } /* Literal.Number */
    .s { color: #75715e } /* Literal.String */
    .bp { color: #1e0010 } /* Name.Builtin.Pseudo */
    .vc { color: #1e0010 } /* Name.Variable.Class */
    .vg { color: #1e0010 } /* Name.Variable.Global */
    .vi { color: #1e0010 } /* Name.Variable.Instance */
    .na { color: #f92672 } /* Name.Attribute */
    .nb { color: #f92672 } /* Name.Builtin */
    .nc { color: #1e0010 } /* Name.Class */
    .no { color: #4183c4 } /* Name.Constant */
    .nd { color: #f92672 } /* Name.Decorator */
    .ni { color: #1e0010 } /* Name.Entity */
    .ne { color: #f92672 } /* Name.Exception */
    .nf { color: #f92672 } /* Name.Function */
    .nl { color: #1e0010 } /* Name.Label */
    .nn { color: #1e0010 } /* Name.Namespace */
    .nx { color: #f92672 } /* Name.Other */
    .py { color: #1e0010 } /* Name.Property */
    .nt { color: #f92672 } /* Name.Tag */
    .nv { color: #1e0010 } /* Name.Variable */
    .ow { color: #f92672 } /* Operator.Word */
    .w { color: #1e0010 } /* Text.Whitespace */
    .mf { color: #ae81ff } /* Literal.Number.Float */
    .mh { color: #ae81ff } /* Literal.Number.Hex */
    .mi { color: #ae81ff } /* Literal.Number.Integer */
    .mo { color: #ae81ff } /* Literal.Number.Oct */
    .sb { color: #417e00 } /* Literal.String.Backtick */
    .sc { color: #417e00 } /* Literal.String.Char */
    .sd { color: #417e00 } /* Literal.String.Doc */
    .s2 { color: #417e00 } /* Literal.String.Double */
    .se { color: #ae81ff } /* Literal.String.Escape */
    .sh { color: #417e00 } /* Literal.String.Heredoc */
    .si { color: #417e00 } /* Literal.String.Interpol */
    .sx { color: #417e00 } /* Literal.String.Other */
    .sr { color: #417e00 } /* Literal.String.Regex */
    .s1 { color: #417e00 } /* Literal.String.Single */
    .ss { color: #417e00 } /* Literal.String.Symbol */
    .il { color: #ae81ff } /* Literal.Number.Integer.Long */
    .gh { } /* Generic Heading & Diff Header */
    .gu { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
    .gd { color: #f92672; } /* Generic.Deleted & Diff Deleted */
    .gi { color: #a6e22e; } /* Generic.Inserted & Diff Inserted */
}


